<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>addin de prueba</Name><AddInID>{c9f1df7d-91b6-46c6-913f-af24d3d4fb25}</AddInID><Description>Este addin fue creado como prueba </Description><Version>0.1</Version><Image>Images\UAS_logo.png</Image><Author>Daniel</Author><Company>Daniel FACITE</Company><Date>10/12/2023</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="prueba_addin.py" namespace="prueba_addin"><ArcMap>
    <Commands>
        <Button caption="Saludar" category="addin de prueba" class="SaludarClass" id="saludar.button" image="Images\circunferencia.png" message="mensaje de prueba " tip="boton de prueba saludar"><Help heading="" /></Button>
        <Tool caption="Herramienta prueba" category="addin de prueba" class="HerramientaClass" id="Herramienta.tool" image="Images\UAS_logo.png" message="Herramienta de prueba " tip="Herramienta de prueba "><Help heading="" /></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="PRUEBA TOOLBAR" category="addin de prueba" id="prueba_addin.toolbar" showInitially="true"><Items><Button refID="saludar.button" /><Tool refID="Herramienta.tool" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="FACITE ADDINS" category="addin de prueba" id="prueba_addin.menu" isRootMenu="true" isShortcutMenu="true" separator="true"><Items /></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>